# Canonical HTTPS/non-WWW
<IfModule mod_rewrite.c>
	RewriteCond %{HTTPS} off [OR]
	RewriteCond %{HTTP_HOST} ^www\.insertmorecoffee\.com [NC]
	RewriteRule (.*) https://insertmorecoffee.com/$1 [L,R=301]
</IfModule>

ErrorDocument 404 /404.html